@model AUF.EMR.Domain.Models.FamilyPlanning.PhysicalExamination

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>PhysicalExamination</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodPressure" class="control-label"></label>
                <input asp-for="BloodPressure" class="form-control" />
                <span asp-validation-for="BloodPressure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PulseRate" class="control-label"></label>
                <input asp-for="PulseRate" class="form-control" />
                <span asp-validation-for="PulseRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skin" class="control-label"></label>
                <select asp-for="Skin" class="form-control"></select>
                <span asp-validation-for="Skin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conjunctiva" class="control-label"></label>
                <select asp-for="Conjunctiva" class="form-control"></select>
                <span asp-validation-for="Conjunctiva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Neck" class="control-label"></label>
                <select asp-for="Neck" class="form-control"></select>
                <span asp-validation-for="Neck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breast" class="control-label"></label>
                <select asp-for="Breast" class="form-control"></select>
                <span asp-validation-for="Breast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abdomen" class="control-label"></label>
                <select asp-for="Abdomen" class="form-control"></select>
                <span asp-validation-for="Abdomen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Extremities" class="control-label"></label>
                <select asp-for="Extremities" class="form-control"></select>
                <span asp-validation-for="Extremities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PelvicNormal" class="control-label"></label>
                <input asp-for="PelvicNormal" class="form-control" />
                <span asp-validation-for="PelvicNormal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PelvicMass" class="control-label"></label>
                <input asp-for="PelvicMass" class="form-control" />
                <span asp-validation-for="PelvicMass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PelvicAbnormalDischarge" class="control-label"></label>
                <input asp-for="PelvicAbnormalDischarge" class="form-control" />
                <span asp-validation-for="PelvicAbnormalDischarge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PelvicCervicalAbnormalities" class="control-label"></label>
                <input asp-for="PelvicCervicalAbnormalities" class="form-control" />
                <span asp-validation-for="PelvicCervicalAbnormalities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PCAWarts" class="control-label"></label>
                <input asp-for="PCAWarts" class="form-control" />
                <span asp-validation-for="PCAWarts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PCAPolyp" class="control-label"></label>
                <input asp-for="PCAPolyp" class="form-control" />
                <span asp-validation-for="PCAPolyp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PCAInflammation" class="control-label"></label>
                <input asp-for="PCAInflammation" class="form-control" />
                <span asp-validation-for="PCAInflammation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PCABloodyDischarge" class="control-label"></label>
                <input asp-for="PCABloodyDischarge" class="form-control" />
                <span asp-validation-for="PCABloodyDischarge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PelvicCervicalConsistency" class="control-label"></label>
                <input asp-for="PelvicCervicalConsistency" class="form-control" />
                <span asp-validation-for="PelvicCervicalConsistency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CervicalConsistency" class="control-label"></label>
                <input asp-for="CervicalConsistency" class="form-control" />
                <span asp-validation-for="CervicalConsistency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CervicalTenderness" class="control-label"></label>
                <input asp-for="CervicalTenderness" class="form-control" />
                <span asp-validation-for="CervicalTenderness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdnexalMass" class="control-label"></label>
                <input asp-for="AdnexalMass" class="form-control" />
                <span asp-validation-for="AdnexalMass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UterinePosition" class="control-label"></label>
                <input asp-for="UterinePosition" class="form-control" />
                <span asp-validation-for="UterinePosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UterinePositions" class="control-label"></label>
                <input asp-for="UterinePositions" class="form-control" />
                <span asp-validation-for="UterinePositions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UterineDepth" class="control-label"></label>
                <input asp-for="UterineDepth" class="form-control" />
                <span asp-validation-for="UterineDepth" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModified" class="control-label"></label>
                <input asp-for="LastModified" class="form-control" />
                <span asp-validation-for="LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedById" class="control-label"></label>
                <input asp-for="ModifiedById" class="form-control" />
                <span asp-validation-for="ModifiedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

