@model CreatePregnancyRecordVM

@{
    ViewData["HouseholdNo"] = Model.HouseholdNo;
    Layout = "Layouts/_FormLayout";
    ViewData["Title"] = "Create";
}

<div class="container mx-auto px-4 py-8">
    <div class="bg-white shadow-md rounded-lg p-8 mb-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="block mb-2 text-sm text-red-700"></div>
            <input type="hidden" asp-for="HouseholdNo" value="@Model.HouseholdNo" />
            <h1 class="text-xl md:text-3xl font-bold text-gray-800 mb-4">Add Pregnancy Record</h1>
            <hr class="mb-4">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
                <div>
                    <div class="mb-4">
                        <label asp-for="PregnancyRecord.PatientId" class="block mb-2 text-sm font-medium text-gray-700">Patient ID</label>
                        <select asp-for="PregnancyRecord.PatientId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" asp-items="@(new SelectList(Model.Women, nameof(HouseholdMember.Id), nameof(HouseholdMember.FormattedFullName)))"></select>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyRecord.Age" class="block mb-2 text-sm font-medium text-gray-700">Age</label>
                        <input asp-for="PregnancyRecord.Age" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PregnancyRecord.Age" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyRecord.Husband" class="block mb-2 text-sm font-medium text-gray-700">Husband</label>
                        <input asp-for="PregnancyRecord.Husband" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PregnancyRecord.Husband" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyRecord.CellphoneNumber" class="block mb-2 text-sm font-medium text-gray-700">Contact No.</label>
                        <input asp-for="PregnancyRecord.CellphoneNumber" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PregnancyRecord.CellphoneNumber" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                </div>
                <div>
                    <div class="mb-4">
                        <label asp-for="PregnancyRecord.Gravida" class="block mb-2 text-sm font-medium text-gray-700">Gravida</label>
                        <input asp-for="PregnancyRecord.Gravida" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PregnancyRecord.Gravida" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyRecord.Para" class="block mb-2 text-sm font-medium text-gray-700">Para</label>
                        <input asp-for="PregnancyRecord.Para" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="PregnancyRecord.Para" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyRecord.LMP" class="block mb-2 text-sm font-medium text-gray-700">LMP</label>
                        <div class="relative w-full md:w-4/5 mb-4">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input datepicker id="acceptedDate" asp-for="PregnancyRecord.LMP" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Select date">
                            <span asp-validation-for="PregnancyRecord.LMP" class="block mb-2 text-sm text-red-700"></span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label asp-for="PregnancyRecord.EDC" class="block mb-2 text-sm font-medium text-gray-700">EDC</label>
                        <div class="relative w-full md:w-4/5 mb-4">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input datepicker id="acceptedDate" asp-for="PregnancyRecord.EDC" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Select date">
                            <span asp-validation-for="PregnancyRecord.EDC" class="block mb-2 text-sm text-red-700"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-end">
                <a asp-action="Index" asp-route-householdNo="@Model.HouseholdNo" class="focus:outline-none text-white bg-red-400 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 hover:bg-red-450 !important">Back</a>
                <button type="submit" class="focus:outline-none text-white bg-primary-50 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Add</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
