body {
    font-family: Poppins
}

.w-login {
    width: 40%;
}

@media (max-width: 1200px) {
    .w-login {
        width: 60%;
    }
}

@media (max-width: 900px) {
    .w-login {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .w-login {
        width: 100%;
    }

    .householdTitle {
        font-size: 1rem;
    }
}   

.bg-primary-50 {
    background-color: #accb8f;
}

    .bg-primary-50:hover {
        background-color: #A6C188;
    }

.bg-secondary-50 {
    background-color: #fec444;
}

    .bg-secondary-50:hover {
        background-color: #feca59;
    }

.bg-danger-50 {
    background-color: #fd7976;
}

    .bg-danger-50:hover {
        background-color: #fe8987;
    }

.container-half {
    padding-left: 5em;
    padding-right: 5em;
}

.householdTitle {
    font-size: 1.875rem;
}

.hover-household:hover {
    background-color: #f4f7fa;
    cursor: pointer;
}

.with-separator {
    position: relative;
}

    .with-separator::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        background-color: #d1d5db; /* Gray-300 */
        transform: translateX(-50%);
        z-index: -1; /* Behind the content */
    }

@media (max-width: 768px) {
    .with-separator::after {
        display: none;
    }
}

.nav-link.active {
    color: white !important;
    background-color: #ACCB8F !important; /* Adjust background color as needed */
}

.button-active {
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}

/* FLOWBITE TAILWIND EXTENSIONS KASI DI COMPLETE ATA NASA LIB T.T */
.align-baseline {
    vertical-align: baseline;
}

.bg-slate-100 {
    background-color: #f1f5f9;
}

.text-red-300 {
    --tw-text-opacity: 1;
    color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.hover\:text-red-400:hover {
    --tw-text-opacity: 1;
    color: rgba(220, 38, 38, var(--tw-text-opacity));
}
