@model CreateHouseholdProfileVM

@{
    Layout = "Layouts/_HouseholdLayout";
    ViewData["Title"] = "Edit";
}

<section class="flex justify-center pt-16">
    <div class="w-2/3 my-12">
        <form asp-action="Edit">
            <div>
                <h1 class="text-xl">Update</h1>
                <h1 class="text-2xl font-bold text-gray-800 mb-4">Household</h1>
            </div>
            <hr class="mb-8" />
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
                <div asp-validation-summary="ModelOnly" class="block mb-2 text-sm text-red-700"></div>
                <!-- Left Column -->
                <div>
                    <div class="mb-4">
                        <label asp-for="Household.HouseholdNo" class="block mb-2 text-sm font-medium text-gray-700">Household No.</label>
                        <input asp-for="Household.HouseholdNo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-2/4 p-2.5" />
                        <span asp-validation-for="Household.HouseholdNo" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800">Respondent Personal Information</h6>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Household.FirstName" class="block mb-2 text-sm font-medium text-gray-700">First Name</label>
                        <input asp-for="Household.FirstName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="Household.FirstName" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Household.MotherMaidenName" class="block mb-2 text-sm font-medium text-gray-700">Mother's Maiden Name</label>
                        <input asp-for="Household.MotherMaidenName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="Household.MotherMaidenName" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Household.LastName" class="block mb-2 text-sm font-medium text-gray-700">Last Name</label>
                        <input asp-for="Household.LastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="Household.LastName" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Household.ContactNo" class="block mb-2 text-sm font-medium text-gray-700">Contact Number</label>
                        <input asp-for="Household.ContactNo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-2/4 p-2.5" />
                        <span asp-validation-for="Household.ContactNo" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800">Home Address</h6>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Household.HouseNoAndStreet" class="block mb-2 text-sm font-medium text-gray-700">House No. & Street</label>
                        <input asp-for="Household.HouseNoAndStreet" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="Household.HouseNoAndStreet" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Household.Barangay" class="block mb-2 text-sm font-medium text-gray-700">Barangay</label>
                        <input asp-for="Household.Barangay" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="Household.Barangay" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Household.City" class="block mb-2 text-sm font-medium text-gray-700">City</label>
                        <input asp-for="Household.City" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="Household.City" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Household.Province" class="block mb-2 text-sm font-medium text-gray-700">Province</label>
                        <input asp-for="Household.Province" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="Household.Province" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                </div>
                <!-- Right Column-->
                <div>
                    <div class="mb-2">
                        <h6 class="text-md font-bold text-gray-800">Quarterly Visit</h6>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Household.FirstQtrVisit" class="block mb-2 text-sm font-medium text-gray-700">Fourth Quarter Visit</label>
                        <div class="relative w-full md:w-4/5 mb-4">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input datepicker asp-for="Household.FirstQtrVisit" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" 
                            holder="Select date">
                            <span asp-validation-for="Household.FirstQtrVisit" class="block mb-2 text-sm text-red-700"></span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Household.SecondQtrVisit" class="block mb-2 text-sm font-medium text-gray-700">Fourth Quarter Visit</label>
                        <div class="relative w-full md:w-4/5 mb-4">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input datepicker asp-for="Household.SecondQtrVisit" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Select date">
                            <span asp-validation-for="Household.SecondQtrVisit" class="block mb-2 text-sm text-red-700"></span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Household.ThirdQtrVisit" class="block mb-2 text-sm font-medium text-gray-700">Fourth Quarter Visit</label>
                        <div class="relative w-full md:w-4/5 mb-4">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input datepicker asp-for="Household.ThirdQtrVisit" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Select date">
                            <span asp-validation-for="Household.ThirdQtrVisit" class="block mb-2 text-sm text-red-700"></span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Household.FourthQtrVisit" class="block mb-2 text-sm font-medium text-gray-700">Fourth Quarter Visit</label>
                        <div class="relative w-full md:w-4/5 mb-4">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input datepicker asp-for="Household.FourthQtrVisit" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Select date">
                            <span asp-validation-for="Household.FourthQtrVisit" class="block mb-2 text-sm text-red-700"></span>
                        </div>
                    </div>
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800">NHTS Household</h6>
                    </div>
                    <div class="mb-4">
                        <div class="flex">
                            <div class="flex items-center me-4">
                                <input asp-for="Household.IsNHTS" value="true" type="radio" class="w-4 h-4 text-blue-600 bg-gray-50 border-gray-300 focus:ring-blue-500">
                                <label asp-for="Household.IsNHTS" class="ms-2 text-sm font-medium text-gray-900">NHTS</label>
                            </div>
                            <div class="flex items-center me-4">
                                <input asp-for="Household.IsNHTS" value="false" type="radio" class="w-4 h-4 text-blue-600 bg-gray-50 border-gray-300 focus:ring-blue-500">
                                <label asp-for="Household.IsNHTS" class="ms-2 text-sm font-medium text-gray-900">Non NHTS</label>
                            </div>
                        </div>
                        <span asp-validation-for="Household.IsNHTS" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800">IP Household</h6>
                    </div>
                    <div class="mb-4">
                        <div class="flex">
                            <div class="flex items-center me-4">
                                <input asp-for="Household.IsIP" value="true" type="radio" class="w-4 h-4 text-blue-600 bg-gray-50 border-gray-300 focus:ring-blue-500">
                                <label asp-for="Household.IsIP" class="ms-2 text-sm font-medium text-gray-900">IP</label>
                            </div>
                            <div class="flex items-center me-4">
                                <input asp-for="Household.IsIP" value="false" type="radio" class="w-4 h-4 text-blue-600 bg-gray-50 border-gray-300 focus:ring-blue-500">
                                <label asp-for="Household.IsIP" class="ms-2 text-sm font-medium text-gray-900">Non IP</label>
                            </div>
                        </div>
                        <span asp-validation-for="Household.IsIP" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800">Household Head Philhealth Member</h6>
                    </div>
                    <div class="mb-4">
                        <div class="flex mb-4">
                            <div class="flex items-center me-4">
                                <input asp-for="Household.IsHeadPhilhealthMember" value="false" id="philhealthMember" type="radio" class="w-4 h-4 text-blue-600 bg-gray-50 border-gray-300 focus:ring-blue-500">
                                <label asp-for="Household.IsHeadPhilhealthMember" class="ms-2 text-sm font-medium text-gray-900">Philhealth member</label>
                            </div>
                            <div class="flex items-center me-4">
                                <input asp-for="Household.IsHeadPhilhealthMember" value="false" id="nonPhilhealthMember" type="radio" class="w-4 h-4 text-blue-600 bg-gray-50 border-gray-300 focus:ring-blue-500">
                                <label asp-for="Household.IsHeadPhilhealthMember" class="ms-2 text-sm font-medium text-gray-900">Non Philhealth member</label>
                            </div>
                        </div>
                        <span asp-validation-for="Household.IsHeadPhilhealthMember" class="block mb-2 text-sm text-red-700"></span>
                        <div class="mb-4">
                            <label asp-for="Household.PhilhealthNo" class="block mb-2 text-sm font-medium text-gray-700">Philhealth No.</label>
                            <input type="text" asp-for="Household.PhilhealthNo" id="philhealthNoInput" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" disabled />
                            <span asp-validation-for="Household.PhilhealthNo" class="block mb-2 text-sm text-red-700"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="Household.Category" class="block mb-2 text-sm font-medium text-gray-700">Category</label>
                            <input type="text" asp-for="Household.Category" id="categoryInput" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" disabled />
                            <span asp-validation-for="Household.Category" class="block mb-2 text-sm text-red-700"></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="Household.Id" />
                <input type="hidden" asp-for="Household.DateCreated" />
            </div>
            <div class="flex justify-end">
                <a href="@Model.RequestUrl" class="focus:outline-none text-white bg-red-400 hover:bg-red-500 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:ring-4 focus:ring-red-200">Back</a>
                <button type="submit" class="focus:outline-none text-white bg-primary-50 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:ring-4 focus:ring-green-200">Save</button>
            </div>
        </form>
    </div>

</section>

<script>
    const philhealthMemberRadio = document.getElementById('philhealthMember');
    const nonPhilhealthMemberRadio = document.getElementById('nonPhilhealthMember');
    const categoryInput = document.getElementById('categoryInput');
    const philhealthNoInput = document.getElementById('philhealthNoInput');

    philhealthMemberRadio.addEventListener('change', function () {
        categoryInput.disabled = !this.checked;
        philhealthNoInput.disabled = !this.checked;

        if (!this.checked) {
            categoryInput.value = '';
            philhealthNoInput.value = '';
        }
    });

    nonPhilhealthMemberRadio.addEventListener('change', function () {
        categoryInput.disabled = this.checked;
        philhealthNoInput.disabled = this.checked;

        if (this.checked) {
            categoryInput.value = '';
            philhealthNoInput.value = '';
        }
    });
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
