@model EditHouseholdMemberVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HouseholdMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HouseholdMember.LastName" class="control-label"></label>
                <input asp-for="HouseholdMember.LastName" class="form-control" />
                <span asp-validation-for="HouseholdMember.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseholdMember.FirstName" class="control-label"></label>
                <input asp-for="HouseholdMember.FirstName" class="form-control" />
                <span asp-validation-for="HouseholdMember.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseholdMember.MotherMaidenName" class="control-label"></label>
                <input asp-for="HouseholdMember.MotherMaidenName" class="form-control" />
                <span asp-validation-for="HouseholdMember.MotherMaidenName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseholdMember.RelationshipToHouseholdHead" class="control-label"></label>
                <input asp-for="HouseholdMember.RelationshipToHouseholdHead" class="form-control" />
                <span asp-validation-for="HouseholdMember.RelationshipToHouseholdHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseholdMember.OtherRelation" class="control-label"></label>
                <input asp-for="HouseholdMember.OtherRelation" class="form-control" />
                <span asp-validation-for="HouseholdMember.OtherRelation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseholdMember.Sex" class="control-label"></label>
                <input asp-for="HouseholdMember.Sex" class="form-control" />
                <span asp-validation-for="HouseholdMember.Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseholdMember.Age" class="control-label"></label>
                <input asp-for="HouseholdMember.Age" class="form-control" />
                <span asp-validation-for="HouseholdMember.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseholdMember.Birthday" class="control-label"></label>
                <input asp-for="HouseholdMember.Birthday" class="form-control" />
                <span asp-validation-for="HouseholdMember.Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseholdMember.FirstQtrClassification" class="control-label"></label>
                <input asp-for="HouseholdMember.FirstQtrClassification" class="form-control" />
                <span asp-validation-for="HouseholdMember.FirstQtrClassification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseholdMember.SecondQtrClassification" class="control-label"></label>
                <input asp-for="HouseholdMember.SecondQtrClassification" class="form-control" />
                <span asp-validation-for="HouseholdMember.SecondQtrClassification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseholdMember.ThirdQtrClassification" class="control-label"></label>
                <input asp-for="HouseholdMember.ThirdQtrClassification" class="form-control" />
                <span asp-validation-for="HouseholdMember.ThirdQtrClassification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseholdMember.FourthQtrClassification" class="control-label"></label>
                <input asp-for="HouseholdMember.FourthQtrClassification" class="form-control" />
                <span asp-validation-for="HouseholdMember.FourthQtrClassification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseholdMember.Remarks" class="control-label"></label>
                <input asp-for="HouseholdMember.Remarks" class="form-control" />
                <span asp-validation-for="HouseholdMember.Remarks" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label class="control-label"></label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="HouseholdMember.IsNhts" value="true" />
                    <label class="form-check-label">NHTS</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="HouseholdMember.IsNhts" value="false" />
                    <label class="form-check-label">Non NHTS</label>
                </div>
            </div>
            <div class="form-group ">
                <div class="control-label">For ages 19 and below</div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="HouseholdMember.IsInSchool" value="true" />
                    <label class="form-check-label">In School</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="HouseholdMember.IsInSchool" value="false" />
                    <label class="form-check-label">Out of School Youth</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="HouseholdMember.IsInSchool" value="null" />
                    <label class="form-check-label">Clear</label>
                </div>
            </div>
            <input type="hidden" asp-for="RequestUrl" />
            <input type="hidden" asp-for="HouseholdMember.Id" />
            <input type="hidden" asp-for="HouseholdMember.DateCreated" />
            <input type="hidden" asp-for="HouseholdNo" value="@Model.HouseholdMember.Household.HouseholdNo" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Model.RequestUrl">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
