@model EditHouseholdMemberVM

@{
    Layout = "Layouts/_HouseholdLayout";
    Layout = "Layouts/_FormLayout";
    ViewData["Title"] = "Edit";
}


<div class="container mx-auto px-4 py-8">
    <div class="bg-white shadow-md rounded-lg p-8 mb-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h1 class="text-xl md:text-3xl font-bold text-gray-800 mb-4">Edit Household Member</h1>
            <hr class="mb-4">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
                <!-- Left Column -->
                <div>
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800">Household Member Personal Information</h6>
                    </div>
                    <div class="mb-4">
                        <label asp-for="HouseholdMember.FirstName" class="block mb-2 text-sm font-medium text-gray-700">First Name</label>
                        <input asp-for="HouseholdMember.FirstName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="HouseholdMember.FirstName" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="HouseholdMember.MotherMaidenName" class="block mb-2 text-sm font-medium text-gray-700">Mother's Maiden Name</label>
                        <input asp-for="HouseholdMember.MotherMaidenName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="HouseholdMember.MotherMaidenName" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="HouseholdMember.LastName" class="block mb-2 text-sm font-medium text-gray-700">Last Name</label>
                        <input asp-for="HouseholdMember.LastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="HouseholdMember.LastName" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="HouseholdMember.Sex" class="block mb-2 text-sm font-medium text-gray-700">Sex</label>
                        <input asp-for="HouseholdMember.Sex" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="HouseholdMember.Sex" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="HouseholdMember.Age" class="block mb-2 text-sm font-medium text-gray-700">Age</label>
                        <input asp-for="HouseholdMember.Age" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="HouseholdMember.Age" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="HouseholdMember.Birthday" class="block mb-2 text-sm font-medium text-gray-700">Date of Birth</label>
                        <input asp-for="HouseholdMember.Birthday" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="HouseholdMember.Birthday" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800">Relationship</h6>
                    </div>
                    <div class="mb-4">
                        <label asp-for="HouseholdMember.RelationshipToHouseholdHead" class="block mb-2 text-sm font-medium text-gray-700">Relationship to Household Head</label>
                        <input asp-for="HouseholdMember.RelationshipToHouseholdHead" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="HouseholdMember.RelationshipToHouseholdHead" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="HouseholdMember.OtherRelation" class="block mb-2 text-sm font-medium text-gray-700">Other Relation</label>
                        <input asp-for="HouseholdMember.OtherRelation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="HouseholdMember.OtherRelation" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                </div>
                <!-- Right Column -->
                <div>
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800">Quarterly Visit</h6>
                    </div>
                    <div class="mb-4">
                        <label asp-for="HouseholdMember.FirstQtrClassification" class="block mb-2 text-sm font-medium text-gray-700">First Quarter Visir</label>
                        <input asp-for="HouseholdMember.FirstQtrClassification" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="HouseholdMember.FirstQtrClassification" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="HouseholdMember.SecondQtrClassification" class="block mb-2 text-sm font-medium text-gray-700">Second Quarter Visit</label>
                        <input asp-for="HouseholdMember.SecondQtrClassification" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="HouseholdMember.SecondQtrClassification" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="HouseholdMember.ThirdQtrClassification" class="block mb-2 text-sm font-medium text-gray-700">Third Quarter Visit</label>
                        <input asp-for="HouseholdMember.ThirdQtrClassification" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="HouseholdMember.ThirdQtrClassification" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="HouseholdMember.FourthQtrClassification" class="block mb-2 text-sm font-medium text-gray-700">Fourth Quarter Visit</label>
                        <input asp-for="HouseholdMember.FourthQtrClassification" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="HouseholdMember.FourthQtrClassification" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800">Others</h6>
                    </div>
                    <div class="mb-4">
                        <label asp-for="HouseholdMember.Remarks" class="block mb-2 text-sm font-medium text-gray-700">Remarks</label>
                        <input asp-for="HouseholdMember.Remarks" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-4/5 p-2.5" />
                        <span asp-validation-for="HouseholdMember.Remarks" class="block mb-2 text-sm text-red-700"></span>
                    </div>
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800">NHTS Household</h6>
                    </div>
                    <div class="mb-4 ">
                        <label class="block mb-2 text-sm font-medium text-gray-700"></label>
                        <div class="flex items-center me-4">
                            <input class="w-4 h-4 text-blue-600 bg-gray-50 border-gray-300 focus:ring-blue-500" type="radio" asp-for="HouseholdMember.IsNhts" value="true" />
                            <label class="ms-2 text-sm font-medium text-gray-900">NHTS</label>
                        </div>
                        <div class="flex items-center me-4">
                            <input class="w-4 h-4 text-blue-600 bg-gray-50 border-gray-300 focus:ring-blue-500" type="radio" asp-for="HouseholdMember.IsNhts" value="false" />
                            <label class="ms-2 text-sm font-medium text-gray-900">Non NHTS</label>
                        </div>
                    </div>
                    <div class="mb-2 mt-8">
                        <h6 class="text-md font-bold text-gray-800">School Status</h6>
                    </div>
                    <div class="mb-4 ">
                        <div class="block mb-2 text-sm font-medium text-gray-700">For ages 19 and below</div>
                        <div class="flex items-center me-4">
                            <input class="w-4 h-4 text-blue-600 bg-gray-50 border-gray-300 focus:ring-blue-500" type="radio" asp-for="HouseholdMember.IsInSchool" value="true" />
                            <label class="ms-2 text-sm font-medium text-gray-900">In School</label>
                        </div>
                        <div class="flex items-center me-4">
                            <input class="w-4 h-4 text-blue-600 bg-gray-50 border-gray-300 focus:ring-blue-500" type="radio" asp-for="HouseholdMember.IsInSchool" value="false" />
                            <label class="ms-2 text-sm font-medium text-gray-900">Out of School Youth</label>
                        </div>
                        <div class="flex items-center me-4">
                            <input class="w-4 h-4 text-blue-600 bg-gray-50 border-gray-300 focus:ring-blue-500" type="radio" asp-for="HouseholdMember.IsInSchool" value="null" />
                            <label class="ms-2 text-sm font-medium text-gray-900">Not in School</label>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="RequestUrl" />
            <input type="hidden" asp-for="HouseholdMember.Id" />
            <input type="hidden" asp-for="HouseholdMember.DateCreated" />
            <input type="hidden" asp-for="HouseholdNo" value="@Model.HouseholdMember.Household.HouseholdNo" />
            <div class="flex justify-end">
                <a asp-action="HouseholdProfile" asp-controller="Household" asp-route-householdNo="@Model.HouseholdNo" class="focus:outline-none text-white bg-red-400 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 hover:bg-red-450 !important">Back</a>
                <button type="submit" class="focus:outline-none text-white bg-primary-50 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
